<%- content_for :head_javascripts do -%>
<%= javascript_include_tag "games/#{params[:name]}" -%>
<script type="text/javascript">
  $(document).ready(function(){
    $('#game-title').text(game);
  });
</script>
<%- end -%>
<h1 id="game-title"></h1>
