// Place all the styles related to the Base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
margin: 0px;
padding: 0px;
}
body {
  font-size: 62.5%;
  font-family: 'Lucida Grande', Helvetica, sans-serif;
  background-image:url('background.png');
  background-size:100% 100%;
  width: 100%;
  height: 100%;
  color: #999;
  padding: 20px;
}
tr {
  vertical-align: top;
}
.game {
  width: 400px;
}
p {
  font-size: 1.2em;
  margin: 0 0 15px 0;
}
h1 {
  position:fixed;
  left:0px;
  top:0px;
  font-size:5em;
  color:	#FFD700;

}
h2 {
  font-family: Sans-serif;
  font-size: 2.0em;
  letter-spacing: -1px;
  color: #ccc;
}
img {
  width: 300px;
  height: 300px;
}
